.formContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 67%;
  left: 50%;
}

.form {
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

h3 {
  font-weight: 500;
  color: #000000;
  opacity: 0.7;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.button {
  background: rgba(121, 138, 121, 0.825);
  width: 150px;
  padding: 1em;
  margin: 0.7em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.button:active {
  background: rgba(255, 255, 255, 0.2);
}

.formInput {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: black;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }

  &[type="email"],
  &[type="password"] {
    &:focus {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &:hover {
    margin: 4px;
  }
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.error-text {
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
}
