/* FourDayForecastNew.module.css */
body {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
}

.weatherIcon {
    width: 200px;
    height: 200px;
  }
  
  /* Flex container for row layout */
  .forecastRow {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 790px
  }
  
  /* Each forecast item */
  .forecastItem {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
    height: 230px;
    font-size: 18px;
  }

  .temperaturePosition {
    position: relative;
    font-size: 24px;
    left: 33%;
    bottom: 65%;
  }
  