.headerContainer {
  display: flex;
  flex-direction: row;
  padding: 0.15em;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.headerFont {
  font-size: 18px;
  font-weight: 500;
  align-content: center;
  margin: 10px;
}

.searchBox {
  flex-direction: row;
  flex: 2 auto;
  margin: 15px;
  width: auto;
}

.searchInput {
  border: 2px solid rgba(69, 65, 65, 0.3) !important;
  border-radius: 5px !important;
  width: 1050px !important;
  margin: 10px !important;
}

.searchButton {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: 2px solid rgba(69, 65, 65, 0.3);
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  height: 40px;
}

.searchButton:hover {
  background-color: #0056b3;
}
