/* Introduction.module.css or Questionnaire.css 
@Manyu I just tried the basic styles  from our old projects.
You can delete it and do your kind of styling which looked pretty 
*/

.container {
  margin: 25px;
  color: white; /* Text color */
  text-align: center; /* Center the text */
  font-size: 20px; /* Font size */
  font-weight: 200px;
  color: #000000; /* Color of the text*/
  font-family: "Poppins", sans-serif;
  font-style: normal;
  align-content: center;
}

.questionnaireContainer {
  margin: 0 auto;
  padding: 50px 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 1000px;
  height: 70px;
  background-color: rgba(
    255,
    255,
    255,
    0.589
  ); /* Main color for the title bar */
  border-radius: 5px 5px 0 0; /* Rounded corners at the top */
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
  color: black;
  align-content: center;
}

input[type="radio"] {
  transform: scale(1.5);
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  font-size: 20px;
  width: 160px;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

.submitButton {
  margin: 0 auto;
  padding: 10px 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #373d44;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

/* .thank-you {
  text-align: center;
  background-color: #0056b3;
  font-size: 1.3em;
  color: #0056b3;
} */

/* .answers { */
/* white-space: pre-wrap; Preserve whitespace for better readability */
/* background-color: #0056b3;
  padding: 20px;
  border-radius: 5px;
  border: 5px solid #e0e0e0;
} */
