.container {
  margin: 0 auto; /* Keep or adjust the outer margin as needed */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  font-size: 0.9rem; /* Font size */
  color: #d29a9a; /* Color of the text */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  align-content: center;
  max-width: 1350px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px; /* Keep this for spacing between labels and inputs */
  color: #d29a9a;
  align-content: center;
}

input[type="radio"]:checked {
  background-color: #373d44;
}

input[type="text"] {
  color: #846c6c;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  margin: 10px auto;
  width: 250px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-bottom-color: #a68888;
  outline: none;
}

input[type="text"]::placeholder {
  color: #a3a3a3;
  opacity: 0.8;
  font-style: italic;
}

.submitButton {
  margin: 0 auto;
  padding: 8px 25px;
  text-align: center;
  background-color: #a68c8c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #846c6c;
}

.container p {
  max-width: 45ch;
  margin: 20px auto;
  word-wrap: break-word;
}
