
.weatherIcon {
  width: 200px;
  height: 200px;
}

.forecastItem {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.spanColorPink {
  color: #d29a9a;
  font-weight: 550;
}

.spanColorWhite {
  color: white;
  font-weight: 500;
}

