.personaliseBox {
  display: flex;
  justify-content: space-between; /* Spread the items across the row */
  gap: 5px;
  margin-top: 20px;
  width: 2000px
}

.personaliseContainer {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
}


.updateButton {
  position: relative;
  align-content: center;
  margin: 5px;
}

.clock {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

.quotes {
  font-size: 50px;
}
