.gridContainer {
  display: grid;
  gap: 60px;
  grid-template-columns: 525px auto;
  min-height: 750px;
}

.clock,
.userName,
.quotes {
  color: white;
  text-align: right;
  width: 100%;
}

.clock {
  font-size: 1.75rem;
  font-family: "Poppins", sans-serif;
}

.userName {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.quotes {
  font-size: 1.75rem;
  color: #d29a9a;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  margin-left: 0; /* Adjust as needed */
  gap: 50px;
}

.homeContainer {
  display: grid;
  grid-template-columns: 300px auto;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
}

.homeLocation {
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}

.otherInfoPosition {
  font-size: 1.5rem;
  font-weight: 500;
  color: #d29a9a;
}

.temperatureContainer {
  display: flex;
  flex-direction: row;
}

.weatherIconPosition {
  display: flex;
}

.highTempPosition {
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: #d29a9a;
  font-size: 3.75rem;
}

.feelsPosition {
  display: flex;
  width: fit-content;
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  margin-left: 50px;
}

.workContainer {
  display: grid;
  grid-template-rows: auto auto;
  width: 100%;
  text-align: left;
  font-size: 1.125rem;
}

.workWeatherPosition {
  text-align: left;
  justify-content: center;
  margin: 0 0 20px; /* Adjust margins as needed */
}

.activities {
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: white;
}

.spanColorwhite {
  color: white;
}

.spanColorPink {
  color: #d29a9a;
  font-weight: 550;
}

.spanFontBig {
  font-size: 30px;
  font-weight: 500;
}

.logoutButton {
  margin: 0 auto; /* Center align button */
  padding: 10px 15px;
  text-align: center;
  justify-content: center;
  background-color: #373d44;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #0056b3;
}

.forecastLink {
  display: flex;
  justify-content: left; /* Aligns content to the right horizontally */
  align-items: left; /* Align items to the center vertically */
  color: #373d44;
  font-size: 1rem; 
  transition: color 0.3s ease;
  width: fit-content;
  margin-top: 30px;
}

.forecastLink:hover{
  color: white;
}

.forecastLink:active {
  color: white;
  padding: 5px;
}

.forecastOutlet {
  display: flex;
  align-items: left; /* Vertically centers the content */
  justify-content: left;
  width: 100%;
  font-size: 1.125rem; 
}

/* Responsive Design */

/* to make the screen responsive in different screen size*/

@media screen and (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: 1fr; /* Single column for tablets */
  }
}

@media screen and (max-width: 768px) {
  .logoutButton {
    width: 100%;
    padding: 15px 20px; /* Increase padding for smaller screens */
  }

  .smallWeatherIcon {
    width: 200px;
    height: 200px;
  }

  .flexContainer {
    margin-left: 2em;
  }
}