.container {
  margin: 25px; /* Keep or adjust the outer margin as needed */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  font-size: 1.25rem; /* Font size */
  font-weight: 200px;
  color: #d29a9a; /* Color of the text */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  align-content: center;
}

.loading {
  color: white;
}
